.app-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    position: fixed;
    top: 0; 
    left: 0; 
    background-color: #0230ad; 
    color: white; 
    z-index: 1000;
    margin-top: 0;
    height: 50px;
    padding-right: 40px;
  }

  .app-nav a {
    color: #34495e;
  }

  .app-nav ul:last-child li p:hover {
    color: #42b983;
  }

  .app-nav ul:first-child {
    padding-left: 0;
  }

  /* Gips  */
  .navbar-logo {
    height: 30px;
    cursor: default;
  }

  .home-icon {
    font-size: 24px;
    margin-left: auto; /* 將 Home icon 放到右邊 */
    color: #fff;
  }

  .home-icon:hover {
    color: #42b983;
  }

  /* .sidebar {
    position: relative;
    top: 50px;
  } */

  blockquote {
    border-left: 4px solid #42b983; /* 加粗左邊邊框 */
    background-color: #f4faff; /* 背景顏色 */
    padding: 10px 15px;
    margin: 10px 0;
    font-style: italic; /* 斜體字 */
    color: #333; /* 字體顏色 */
  }
